<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNVfDODdsSjGKx52g2lzcgAyGNrXmVCQs</string>
	<key>GCM_SENDER_ID</key>
	<string>989241944019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zhu.Wanderly</string>
	<key>PROJECT_ID</key>
	<string>wanderly-a2a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>wanderly-a2a5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989241944019:ios:33ef8ba62f9f9241a43126</string>
</dict>
</plist>